<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My Wish List</title>
		<style type="text/css">
		
			.success {
				border: 1px solid black;
				background-color: green;
				width: 300px;
				color: white;
			}
			form {
				display: inline;
			}
			.row1 {
				background-color: #D3D3D3;
			}
			.head_row {
				background: pink;
			}
			table {
				border: 1px solid black;
			}

		</style>
	</head>
	<body>
		<h1>Hello, {{ request.session.user_name }}!</h1>
		<!-- log out function -->
		<p><a href="{% url 'users:logout' %}">Logout</a></p>

		

<!-- This link is to be removed -->
	
		<!-- Flash Messages -->
		{% if messages %}
			{% for message in messages %}
				<p class="success">{{message}}</p>
			{% endfor %}
		{% endif %}
		
		<!-- Your travel -->
		<h2>Your Trip Schedules:</h2>
		<table>
			<thead>
				<tr class="head_row">
					<th>Destination</th>
					<th>Travel Start Date</th>
					<th>Travel End Date</th>
					<th>Plan</th>
					<th>Action</th>
				</tr>
			</thead>
				{% for item in my_list %}
				<tr class="{% cycle 'row1' 'row2' %}">			
					<td><a href="{% url 'travel:info' item.id %}">{{item.destination}}</a></td>
					<td>{{item.from_date}}</td>
					<td>{{item.to_date}}</td>
					<td>{{item.description}}</td>
					<td>
						<form class="remove_from_list" action="{% url 'travel:remove' item.id %}" method="POST">
							{% csrf_token %}
						<input type="submit" name="remove" value="Remove Trip">
						</form>
						{% if item.creator.id == request.session.user_id %}
						<form class="delete" action="{% url 'travel:delete' item.id %}" method="POST">
							{% csrf_token %}
						<input type="submit" name="delete" value="Delete">
						</form>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>

		<!-- Other's Wishlist -->
		<h2>Other Users' Travel Plans</h2>
			<table>
				<thead>
					<tr class="head_row">
						<th>Name</th>
						<th>Destination</th>
						<th>Travel Start Date</th>
						<th>Travel End Date</th>
						<th>Do You Want To Join?</th>
					</tr>
				</thead>
				{% for item in items_list %}
				<tr class="{% cycle 'row1' 'row2' %}">	
					<td>{{item.creator.name}}</td>		
					<td><a href="{% url 'travel:info' item.id %}">{{item.destination}}</a></td>
					<td>{{item.from_date}}</td>
					<td>{{item.to_date}}</td>
					<td class="buttons">
						<form class="add_to_list" action="{% url 'travel:join' item.id %}" method="POST">
							{% csrf_token %}
						<input type="submit" name="join" value="Join">
						</form>
						{% if item.creator.id == request.session.user_id %}
						<form class="delete" action="{% url 'travel:delete' item.id %}" method="POST">
							{% csrf_token %}
						<input type="submit" name="delete" value="Delete">
						</form>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		<!-- Add Trip Button -->
		<a href="{% url 'travel:create' %}">Add Travel Plan</a>
		
	</body>
</html>